header {
	background: #F5F5F5;
	padding: 7px 0;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 15px #48D1CC;
	
}


.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 30px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	padding-left: 80px;
}

nav a:hover {
	color: #60a3bc;
	text-decoration: underline;
}
main {
	background: url("fundo7.jpg");
}


.principal {
	padding: 3em 0;
	width:100%;
	margin: 0 auto;
	background: url(fundo4.jpg);
}

.principal h1 {
	margin-top: 100px;
	text-align: center;
	color: #fff;
	
}

.pricipal p {
	margin: 0 0 1em;
	margin-top: 100px;
	text-align: right;
	
}

p {
	color: #fff;
	text-align: center;
}

.principal strong {
	font-weight: bold;
}

.principal em {
	font-style: italic;
}

.kgperdido{
	color:#60a3bc ;
	text-align: center;

}
font-size: 100%;
}
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0.5em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  height: 100%;
  min-width: 800px;
}
@media (max-width: 800px) {
  table .time {
    display: none;
  }
}
summary {
  padding-bottom: 0.25em;
  padding-right: 50px;
  font-size: 2em;
  font-weight: 100;
  text-align: center;
  background-color:#60a3bc;
}
tr {
  position: relative;
}
th {
  text-align: right;
  margin-left: 100px;
  padding-left: 50px;
  color: #999;
  font-weight: normal;
  font-size: 2em;
}
td {
  width: 13%;
}
.date {
  text-align: right;
  display: block;
  height: 0;
  font-size: 1em;
  padding: 0.25em;
  padding-bottom: 73%;
  position: relative;
  border-bottom: 1px solid #dedbdb;
  margin-left: 50px;
  margin-right: 50px;
}
tr:first-child:not(.current-week) .date {
  border-top: 1px solid #dedbdb;
}
.date ul,
.date li {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #333;
}
.date ul {
  text-align: left;
  font-size: 0.9em;
  width: 100%;
  overflow: hidden;
  position: absolute;
  font-weight: normal;
}
.date li {
  color: #222;
  width: 100%;
  height: 4.5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}
.date li:before {
  content: '\2022';
  color: inherit;
  display: inline-block;
  padding-right: 0.25em;
}
.time {
  float: right;
  text-align: right;
  color: #999;
}
.event {
  color: #333;
  font-size: 3em;
  padding-left: 80px;
}
.previous-week .date {
  border: none;
}


.weekend {
  background-clop: padding-box;
  background: #f5f5f5;
}
.date .different-calendar {
  color: #00c800;
}

.editar {
  padding-left: 100px;
}


.footer {
	width: 8%;
}

footer {
	width: 100%;
	text-align: center;
	background: #F5F5F5;
	padding: 20px 0;
	position: absolute;

}

.copyright {
	color: #000000;
	font-size: 13px;
	margin: 20px 0 0;
}

@media screen and (max-width: 480px){
	
	.caixa, .principal, .conteudo-beneficios,.texto, footer, main {
		width:100%;
		margin:200px;
	}

	.vantagens {
	width: 80%;
	margin-right:1000px;
	padding: 50px 0;
	position: center;
	}	

	h1 {
		text-align: center;
	}

	nav {
		position:static;
	}

	.lista-beneficios, .imagem-beneficios {
		width:100%
	}
}
