

header {
	background: #F5F5F5;
	padding: 7px 0;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 15px #48D1CC;
	
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;


}

.logo {

	
}


nav {
	position: absolute;
	top: 30px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	padding-left: 80px;
}

nav a:hover {
	color: #60a3bc;
	text-decoration: underline;
}

main {
	background: url("fundo7.jpg");
}


.user_card {
	height: 400px;
	width: 350px;
	margin-top: auto;
	margin-bottom: auto;
	background: #ffffff;
	position: relative;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;

}
.brand_logo_container {
	position: absolute;
	height: 170px;
	width: 170px;
	top: -75px;
	border-radius: 50%;
	background: #60a3bc;
	padding: 10px;
	text-align: center;
}
.brand_logo {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	border: 2px solid white;
}
.form_container {
	margin-top: 100px;
}
.login_btn {
	width: 100%;
	background: #60a3bc !important;
	color: white !important;
}
.login_btn:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.login_container {
	padding: 0 2rem;
}
.input-group-text {
	background: #60a3bc !important;
	color: white !important;
	border: 0 !important;
	border-radius: 0.25rem 0 0 0.25rem !important;
}
.input_user,
.input_pass:focus {
	box-shadow: none !important;
	outline: 0px !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
	background-color: #60a3bc !important;
}


.corpo {
	width:960px;
	margin:auto;
}


.footer {
	width: 8%;
}

footer {
	width: 100%;
	text-align: center;
	background: #F5F5F5;
	padding: 20px 0;
	position: absolute;

}

.copyright {
	color: #000000;
	font-size: 13px;
	margin: 20px 0 0;
}

@media screen and (max-width: 480px){
	
	.caixa, .principal, .conteudo-beneficios,.texto, footer, main {
		width:100%;
		margin:200px;
	}

	.vantagens {
	width: 80%;
	margin-right:1000px;
	padding: 50px 0;
	position: center;
	}	

	h1 {
		text-align: center;
	}

	nav {
		position:static;
	}

	.lista-beneficios, .imagem-beneficios {
		width:100%
	}
}
